.width{
  float: left;
  padding: 0 1rem;
  &.one-quarter{
    width: 25%;
  }
  &.half{
    width: 50%;
  }
  &.three-quarters{
    width: 75%;
  }
  &.full{
    width: 100%;
  }
  &.no-padding{
    padding: 0;
  }
  &:first-of-type{
    padding-left: 0;
  }
  &:last-of-type{
    padding-right: 0;
  }
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}
