.main-container{
  h1{
    &:first-of-type{
      margin-top: 1rem;
    }
  }
}

.field-name-body{
  h2{
    color: $dark-grey;
    text-transform: uppercase;
    font-size: 2.3rem;
  }
}

.links.inline{
  .node-readmore{
    padding: 0;
    padding: .25rem 1rem;
    background: $primary-color;
    border-radius: 3px;
    a{
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: $small-font;
    }
  }
}
